@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Berb's Books</h1>
    <p>This is a sample website made in ASP.NET for me to learn how this stuff works. Pretty useful so far.</p>
    <p>Here's a picture of a cat:</p>
    <img src="https://http.cat/404"></img>
</div>
